DB_DATABASE=likecollective-indexer-dev
DB_PASSWORD=GENERATE_SECRET[db_pass]
DB_USERNAME=likecollective-indexer-dev
DB_PORT=5432
DB_HOST=localhost
DB_SCHEMA=public
DB_DEBUG=

DB_TIMESCALE_DATABASE=likecollective-indexer-timescale-dev
DB_TIMESCALE_PASSWORD=GENERATE_SECRET[db_timescale_pass]
DB_TIMESCALE_USERNAME=likecollective-indexer-timescale-dev
DB_TIMESCALE_PORT=5432
DB_TIMESCALE_HOST=localhost
DB_TIMESCALE_SCHEMA=public
DB_TIMESCALE_DEBUG=

REDIS_DSN=redis://redis:6379

PORT=8091
ROUTE_PREFIX=

SENTRY_DSN=
SENTRY_DEBUG=true

ALCHEMY_LIKE_COLLECTIVE_ETH_LOG_WEBHOOK_SIGNING_KEY=

ALCHEMY_BASE_URL=https://dashboard.alchemy.com
ALCHEMY_AUTH_TOKEN=
