POSTGRES_USER=postgres
POSTGRES_PASSWORD=GENERATE_SECRET[pg_pass]
DB_NAME=likecoin-op-dev
DB_USER=likecoin-op-dev
DB_PASSWORD=GENERATE_SECRET[db_pass]

ROUTE_PREFIX=/api
COSMOS_NODE_URL=https://node.testnet.like.co
COSMOS_LIKECOIN_NETWORK_CONFIG_PATH=likecoin-network.json
ETH_WALLET_PRIVATE_KEY=
ETH_NETWORK_PUBLIC_RPC_URL=https://sepolia.optimism.io
ETH_CHAIN_ID=
ETH_TOKEN_ADDRESS=
ETH_LIKENFT_CONTRACT_ADDRESS=
DB_CONNECTION_STR=postgres://$DB_USER:$DB_PASSWORD@localhost:5432/$DB_NAME?sslmode=disable
REDIS_DSN=redis://127.0.0.1:6379
LIKECOIN_API_URL_BASE=
INITIAL_NEW_CLASS_OWNER=0x8626f6940E2eb28930eFb4CeF49B2d1F2C9C1199
INITIAL_NEW_CLASS_MINTER=0x8626f6940E2eb28930eFb4CeF49B2d1F2C9C1199
INITIAL_NEW_CLASS_UPDATER=0x8626f6940E2eb28930eFb4CeF49B2d1F2C9C1199
INITIAL_BATCH_MINT_NFTS_OWNER=0x8626f6940E2eb28930eFb4CeF49B2d1F2C9C1199
LIKECOIN_BURNING_COSMOS_ADDRESS=like155s3xuruk2vnynda9gq6x9e7uzvut74654mc4d
